/* Copyright (c) 2013, LGE Electronics. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&mdss_dsi0 {
	status = "ok";
	lge,num-of-dsv-enable-gpio = <
		0 0  // evb1  = 0 ; evb2  = 0
		0 0  // rev_a = 0 ; rev_a1 = 0
		2 2  // rev_b = 1 ; rev_c = 1
		2 2  // rev_d = 0 ; rev_e = 1
		2 2  // rev_f = 1 ; rev_g = 1
		2 2  // rev_10 = 1; rev_11 = 1
		2     // rev_12 = 1
		>;
};

&mdss_dsi1 {
	status = "ok";
	qcom,platform-enable-gpio = <&msmgpio 58 1>, // HW_REV_EVB1
		<&msmgpio 58 1>, // HW_REV_EVB2
		<&msmgpio 60 1>, // HW_REV_A
		<&msmgpio 60 1>, // HW_REV_A1
		<&msmgpio 60 1>, // HW_REV_B
		<&msmgpio 60 1>, // HW_REV_C
		<&msmgpio 60 1>, // HW_REV_D
		<&msmgpio 60 1>, // HW_REV_E
		<&msmgpio 60 1>, // HW_REV_F
		<&msmgpio 60 1>, // HW_REV_G
		<&msmgpio 60 1>, // HW_REV_H
		<&msmgpio 60 1>, // HW_REV_1.0
		<&msmgpio 60 1>, // HW_REV_1.1
		<&msmgpio 60 1>; // HW_REV_1.2

	lge,platform-enable-gpio2 = <&msmgpio 25 1>;

	lge,num-of-dsv-enable-gpio = <
		0 0  // evb1  = 0 ; evb2  = 0
		0 0  // rev_a = 0 ; rev_a1 = 0
		2 2  // rev_b = 1 ; rev_c = 1
		2 2  // rev_d = 0 ; rev_e = 1
		2 2  // rev_f = 1 ; rev_g = 1
		2 2  // rev_10 = 1; rev_11 = 1
		2     // rev_12 = 1
		>;
};
&soc {

	i2c@f9967000 {
		lm3631@29{
			status = "ok";
			revision = "rev_a...rev_a1";
			ti,en-gpio = <&msmgpio 58 0x00>;
			ti,lcd-bl-en = <&msmgpio 60 0x00>;
		};
		lm3697@36 {
			status = "ok";
			revision = "rev_b...";
			ti,enable-gpio = <&msmgpio 58 0x00>;
			lcd_bl {
				lge,hvled = <
					12 12  // evb1  = hvled1, hvled2  ; evb2  = hvled1, hvled2
					12 12  // rev_a = hvled1, hvled2 ; rev_a1 = hvled1, hvled2
					12 12  // rev_b = hvled1, hvled2 ; rev_c = hvled1, hvled2
					12 12  // rev_d = hvled1, hvled2 ; rev_e = hvled1, hvled2
					12 12  // rev_g = hvled1, hvled2 ; rev_h = hvled1, hvled2
					12 12  // rev_10 = hvled1, hvled2 ; rev_11 = hvled1, hvled2
					12     // rev_12 = hvled1, hvled2
					>;
			};
		};
		tps65132@3e {
			status = "ok";
			revision = "rev_b...";
		};
	};
};
