/* Copyright (c) 2012, Code Aurora Forum. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/include/ "msm8974pro-g3-tmo_us-panel.dtsi"
/include/ "msm8974pro-g3-tmo_us-input.dtsi"
/include/ "msm8974pro-g3-tmo_us-hdmi.dtsi"
/include/ "msm8974pro-g3-tmo_us-usb.dtsi"
/include/ "msm8974pro-g3-tmo_us-misc.dtsi"
/include/ "msm8974pro-g3-tmo_us-pm.dtsi"
/include/ "msm8974pro-g3-tmo_us-camera.dtsi"
/include/ "msm8974pro-g3-tmo_us-sound.dtsi"
/include/ "msm8974pro-g3-tmo_us-nfc.dtsi" /* [NFC][seunghoon65.lee@lge.com], B2 Bring up */

&soc {
	serial@f991d000 {
	        status = "ok";
	};

        //  LGE_CHANGE_S, [IRRC][daegeun.yoon@lge.com], 2014-01-09, IRRC Bring up for B2
        serial@f9962000 {
                status = "ok";
        };
        // LGE_CHANGE_S, [IRRC][daegeun.yoon@lge.com], 2014-01-09, IRRC Bring up for B2


	/*  LGE_CHANGE_S, [NFC][seunghoon65.lee@lge.com], 2013-10-09, NFC Bring up for B2 */
	i2c@f9967000 {
		pn547@28 {
			status = "ok";
		};
	};
	/*  LGE_CHANGE_E, [NFC][seunghoon65.lee@lge.com], 2013-10-09, NFC Bring up for B2 */

	sdhc_3: sdhci@f9864900 { /* This is for microSD */
		compatible = "qcom,sdhci-msm";
		reg = <0xf9864900 0x11c>, <0xf9864000 0x800>;
		reg-names = "hc_mem", "core_mem";

		#address-cells = <0>;
		interrupt-parent = <&sdhc_3>;
		interrupts = <0 1 2>;
		#interrupt-cells = <1>;
		interrupt-map-mask = <0xffffffff>;
		interrupt-map = <0 &intc 0 127 0
			1 &intc 0 224 0
			2 &msmgpio 95 0x3>;
		interrupt-names = "hc_irq", "pwr_irq", "status_irq";
		cd-gpios = <&msmgpio 95 0x1>;

		gpios = <&msmgpio 40 0>, /* CLK */
			<&msmgpio 39 0>, /* CMD */
			<&msmgpio 38 0>, /* DATA0 */
			<&msmgpio 37 0>, /* DATA1 */
			<&msmgpio 36 0>, /* DATA2 */
			<&msmgpio 35 0>; /* DATA3 */
		qcom,gpio-names = "CLK", "CMD", "DAT0", "DAT1", "DAT2", "DAT3";

		vdd-supply = <&pm8941_l21>;
		vdd-io-supply = <&pm8941_l13>;
		qcom,vdd-voltage-level = <2950000 2950000>;
		qcom,vdd-current-level = <9000 800000>;
		qcom,vdd-io-voltage-level = <1800000 2950000>;
		qcom,vdd-io-current-level = <6 22000>;

		qcom,clk-rates = <400000 20000000 25000000 50000000 100000000>;
		qcom,bus-width = <4>;
		qcom,xpc;
		qcom,bus-speed-mode = "SDR12", "SDR25", "SDR50", "DDR50";
		qcom,current-limit = <800>;
		qcom,cpu-dma-latency-us = <200>;

		qcom,msm-bus,name = "sdhc3";
		qcom,msm-bus,num-cases = <8>;
		qcom,msm-bus,active-only = <0>;
		qcom,msm-bus,num-paths = <1>;
		qcom,msm-bus,vectors-KBps = <79 512 0 0>, /* No vote */
			<79 512 1600 3200>,    /* 400 KB/s*/
			<79 512 80000 160000>, /* 20 MB/s */
			<79 512 100000 200000>, /* 25 MB/s */
			<79 512 200000 400000>, /* 50 MB/s */
			<79 512 400000 800000>, /* 100 MB/s */
			<79 512 800000 1600000>, /* 200 MB/s */
			<79 512 2048000 4096000>; /* Max. bandwidth */
		qcom,bus-bw-vectors-bps = <0 400000 20000000 25000000 50000000 100000000 200000000 4294967295>;
		status = "ok";
	};

	/* LGE_CHANGE, for camera gpio pin, 2014-03-04, yt.kim@lge.com */
	i2c@f9928000 {
	status = "disable";
	};
};
&uart5 {
	status = "ok";
};

/* LGE_CHANGE_S, [WiFi][jaewoo.hwang@lge.com], 2013-01-28, Wifi Bring Up */
&soc {
	sdcc2_rev_a: qcom,sdcc_rev_a@f98a4000 {
		cell-index = <2>; /* SDC2 SD card slot */
		compatible = "qcom,msm-sdcc";
		reg = <0xf98a4000 0x800>,
			<0xf98a4800 0x100>,
			<0xf9884000 0x7000>;
		reg-names = "core_mem", "dml_mem", "bam_mem";
		#address-cells = <0>;
		interrupt-parent = <&sdcc2_rev_a>;
		interrupts = <0 1 2>;
		#interrupt-cells = <1>;
		interrupt-map-mask = <0xffffffff>;
		interrupt-map = <0 &intc 0 125 0
				1 &intc 0 220 0
				2 &msmgpio 44 0x3>;
		interrupt-names = "core_irq", "bam_irq", "wlan_oob_irq";


		vdd-io-supply = <&pm8941_s3>;


		qcom,vdd-io-voltage-level = <1800000 1800000>;
		qcom,vdd-io-current-level = <6 22000>;

		qcom,pad-pull-on = <0x0 0x3 0x3>; /* no-pull, pull-up, pull-up */
		qcom,pad-pull-off = <0x0 0x3 0x3>; /* no-pull, pull-up, pull-up */
		qcom,pad-drv-on = <0x7 0x4 0x4>; /* 16mA, 10mA, 10mA */
		qcom,pad-drv-off = <0x0 0x0 0x0>; /* 2mA, 2mA, 2mA */

		qcom,clk-rates = <400000 20000000 25000000 50000000 100000000 200000000>;
		qcom,sup-voltages = <2950 2950>;
		qcom,bus-width = <4>;
		qcom,xpc;
		qcom,nonremovable;
		qcom,bus-speed-mode = "SDR12", "SDR25", "SDR50", "SDR104";
		qcom,current-limit = <800>;

		qcom,msm-bus,name = "sdcc2";
		qcom,msm-bus,num-cases = <8>;
		qcom,msm-bus,active-only = <0>;
		qcom,msm-bus,num-paths = <1>;
		qcom,msm-bus,vectors-KBps = <81 512 0 0>, /* No vote */
				<81 512 1600 3200>,    /* 400 KB/s*/
				<81 512 80000 160000>, /* 20 MB/s */
				<81 512 100000 200000>, /* 25 MB/s */
				<81 512 200000 400000>, /* 50 MB/s */
				<81 512 400000 800000>, /* 100 MB/s */
				<81 512 800000 1600000>, /* 200 MB/s */
				<81 512 2048000 4096000>; /* Max. bandwidth */
		qcom,bus-bw-vectors-bps = <0 400000 20000000 25000000 50000000 100000000 200000000 4294967295>;
		qcom,dat1-mpm-int = <44>;
		revision = "evb1...rev_12";
		status = "ok";
	};

	
};


&sdcc2 {
	status = "disable";
};
/* LGE_CHANGE_E, [WiFi][jaewoo.hwang@lge.com], 2013-01-28, Wifi Bring Up */

&sdhc_2 {
	status = "disable";
};
