#
# FC8300_DEVICE subsystem configuration
#

#menu "FC8300 support"

config FC8300_ISDB_T
	default n
	---help---
	  This driver implements the front-end of the Xen virtual
	  keyboard and mouse device driver.  It communicates with a back-end
	  in another domain.
  
#endmenu