config MACH_MSM8974_G3
	bool

config MACH_MSM8974_G3_KR
	depends on ARCH_MSM8974
	select MACH_LGE
	select MACH_MSM8974_G3
	bool "MSM8974 G3 KR"
	help
	  Support for the Qualcomm MSM8974 G3 KR device.

config MACH_MSM8974_G3_LGU
	depends on ARCH_MSM8974
	select MACH_LGE
	select MACH_MSM8974_G3
	bool "MSM8974 G3 LGU"
	help
	  Support for the Qualcomm MSM8974 G3 LG Uplus device.

config MACH_MSM8974_G3_LGU_EVB
	depends on ARCH_MSM8974
	select MACH_LGE
	select MACH_MSM8974_G3
	bool "MSM8974 G3 LGU EVB"
	help
	  Support for the Qualcomm MSM8974 G3 LG Uplus EVB device.

config MACH_MSM8974_G3_SKT
	depends on ARCH_MSM8974
	select MACH_LGE
	select MACH_MSM8974_G3
	bool "MSM8974 G3 SKT"
	help
	  Support for the Qualcomm MSM8974 G3 SKT device.

config MACH_MSM8974_G3_KT
	depends on ARCH_MSM8974
	select MACH_LGE
	select MACH_MSM8974_G3
	bool "MSM8974 G3 KT"
	help
	  Support for the Qualcomm MSM8974 G3 KT device.

config MACH_MSM8974_G3_VZW
	depends on ARCH_MSM8974
	select MACH_LGE
	select MACH_MSM8974_G3
	bool "MSM8974 G3 VZW"
	help
	  Support for the Qualcomm MSM8974 G3 Verizon device.

config MACH_MSM8974_G3_LRA
	depends on ARCH_MSM8974
	select MACH_LGE
	select MACH_MSM8974_G3
	bool "MSM8974 G3 LRA"
	help
	  Support for the Qualcomm MSM8974 G3 LRA device.

config MACH_MSM8974_G3_ATT
	depends on ARCH_MSM8974
	select MACH_LGE
	select MACH_MSM8974_G3
	bool "MSM8974 G3 ATT"
	help
	  Support for the Qualcomm MSM8974 G3 AT&T device.

config MACH_MSM8974_G3_SPR_US
	depends on ARCH_MSM8974
	select MACH_LGE
	select MACH_MSM8974_G3
	bool "MSM8974 G3 SPR US"
	help
	  Support for the Qualcomm MSM8974 G3 Sprint device.

config MACH_MSM8974_G3_USC_US
	depends on ARCH_MSM8974
	select MACH_LGE
	select MACH_MSM8974_G3
	bool "MSM8974 G3 USC US"
	help
	  Support for the Qualcomm MSM8974 G3 Usc device.

config MACH_MSM8974_G3_ACG_US
	depends on ARCH_MSM8974
	select MACH_LGE
	select MACH_MSM8974_G3
	bool "MSM8974 G3 ACG US"
	help
	  Support for the Qualcomm MSM8974 G3 ACG device.

config MACH_MSM8974_G3_TMO_US
	depends on ARCH_MSM8974
	select MACH_LGE
	select MACH_MSM8974_G3
	bool "MSM8974 G3 TMO US"
	help
	  Support for the Qualcomm MSM8974 G3 AT&T device.

config MACH_MSM8974_G3_CN
	depends on ARCH_MSM8974
	select MACH_LGE
	select MACH_MSM8974_G3
	bool "MSM8974 G3 CN"
	help
	  Support for the Qualcomm MSM8974 G3 CHINA device.

config MACH_MSM8974_G3_CMCC_CN
	depends on ARCH_MSM8974
	select MACH_LGE
	select MACH_MSM8974_G3
	bool "MSM8974 G3 CMCC CN"
	help
	  Support for the Qualcomm MSM8974 G3 CMCC device.

config MACH_MSM8974_G3_CTC_CN
	depends on ARCH_MSM8974
	select MACH_LGE
	select MACH_MSM8974_G3
	bool "MSM8974 G3 CTC CN"
	help
	  Support for the Qualcomm MSM8974 G3 CTC device.

config MACH_MSM8974_G3_CUCC_CN
	depends on ARCH_MSM8974
	select MACH_LGE
	select MACH_MSM8974_G3
	bool "MSM8974 G3 CUCC CN"
	help
	  Support for the Qualcomm MSM8974 G3 CUCC device.

config MACH_MSM8974_G3_OPEN_HK
	depends on ARCH_MSM8974
	select MACH_LGE
	select MACH_MSM8974_G3
	bool "MSM8974 G3 OPEN HK"
	help
	  Support for the Qualcomm MSM8974 G3 OPEN_HK device.

config MACH_MSM8974_G3_KDDI
	depends on ARCH_MSM8974
	select MACH_LGE
	select MACH_MSM8974_G3
	bool "MSM8974 G3 KDDI"
	help
	  Support for the Qualcomm MSM8974 G3 KDDI device.

config MACH_MSM8974_G3_KDDI_EVB
	depends on ARCH_MSM8974
	select MACH_LGE
	select MACH_MSM8974_G3
	bool "MSM8974 G3 KDDI EVB"
	help
	  Support for the Qualcomm MSM8974 G3 LG KDDI EVB device.

config MACH_MSM8974_G3_GLOBAL_COM
	depends on ARCH_MSM8974
	select MACH_LGE
	select MACH_MSM8974_G3
	bool "MSM8974 G3 GLOBAL COM"
	help
	  Support for the Qualcomm MSM8974 G3 GLOBAL device.

config MACH_MSM8974_G3_CA
	depends on ARCH_MSM8974
	select MACH_LGE
	select MACH_MSM8974_G3
	bool "MSM8974 G3 CA"
	help
	  Support for the Qualcomm MSM8974 G3 Canada device.

config MACH_MSM8974_G3_BELL
	depends on ARCH_MSM8974
	select MACH_LGE
	select MACH_MSM8974_G3
	bool "MSM8974 G3 BELL"
	help
	  Support for the Qualcomm MSM8974 G3 BELL device.

config MACH_MSM8974_G3_TLS
	depends on ARCH_MSM8974
	select MACH_LGE
	select MACH_MSM8974_G3
	bool "MSM8974 G3 TLS"
	help
	  Support for the Qualcomm MSM8974 G3 TLS device.

config MACH_MSM8974_G3_RGS
	depends on ARCH_MSM8974
	select MACH_LGE
	select MACH_MSM8974_G3
	bool "MSM8974 G3 RGS"
	help
	  Support for the Qualcomm MSM8974 G3 RGS device.

config MACH_MSM8974_G3_VTR
	depends on ARCH_MSM8974
	select MACH_LGE
	select MACH_MSM8974_G3
	bool "MSM8974 G3 VTR"
	help
	  Support for the Qualcomm MSM8974 G3 VTR device.

config MACH_MSM8974_G3_WIN
	depends on ARCH_MSM8974
	select MACH_LGE
	select MACH_MSM8974_G3
	bool "MSM8974 G3 WIN"
	help
	  Support for the Qualcomm MSM8974 G3 WIN device.
