#menu "BROADCAST_DEVICE"

#
# Broadcast Device Driver Support
#

#menu "BROADCAST_DEVICE"

config LGE_BROADCAST_TDMB_FC8050
    bool "LGE broacast TDMB FC8050 device"
    depends on (LGE_BROADCAST_TDMB && MACH_MSM8974_G2_KR)
    default y
    help
      Select this if you want to use broadcast service

config LGE_BROADCAST_TDMB_FC8080
    bool "LGE broacast TDMB FC8080 device"
    depends on (LGE_BROADCAST_TDMB && MACH_MSM8974_G3_KR) || (LGE_BROADCAST_TDMB && MACH_MSM8974_B1_KR) || (LGE_BROADCAST_TDMB && MACH_MSM8974_TIGERS_KR)
    default y
    help
      Select this if you want to use broadcast service

#config LGE_BROADCAST_TDMB_LG2102
#    bool "LGE broacast TDMB LG2102 device"
#    depends on LGE_BROADCAST_TDMB
#    default n
#    help
#      Select this if you want to use broadcast service

#config LGE_BROADCAST_TDMB_T3900
#    bool "LGE broacast TDMB T3900 device"
#    depends on LGE_BROADCAST_TDMB
#    default y
#    help
#      Select this if you want to use broadcast service

#config LGE_BROADCAST_TDMB_T39FX
#    bool "LGE broacast TDMB T39FX device"
#    depends on LGE_BROADCAST_TDMB
#    default y
#    help
#      Select this if you want to use broadcast service
#endmenu
