#
# Touchscreen driver configuration
#
config TOUCHSCREEN_SYNAPTICS_I2C_RMI
	tristate "Synaptics i2c touchscreen"
	depends on I2C
	help
	  This enables support for Synaptics RMI over I2C based touchscreens.

config TOUCHSCREEN_SYNAPTICS_RMI4_I2C
	tristate "Synaptics i2c touchscreen(ClearPad 3000)"
	depends on I2C
	select SYNA_MULTI_TOUCH
	help
	  This enables support for Synaptics RMI over I2C based touchscreens(ClearPad 3000).

config TOUCHSCREEN_SYNAPTICS_3404S
	tristate "Synaptics 3404S chip(G2)"
	help
	  This enables support for Synaptics 3404S chip for Touch Dirver.

config TOUCHSCREEN_SYNAPTICS_I2C_RMI4
	tristate "Synaptics DSX I2C touchscreen"
	depends on I2C
	help
	  Say Y here if you have a Synaptics DSX I2C touchscreen
	  connected to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called synaptics_i2c_rmi4.

config TOUCHSCREEN_SYNAPTICS_I2C_RMI4_EVB
	tristate "Synaptics DSX I2C touchscreen for EVB"
	depends on I2C
	help
	  Say Y here if you have a Synaptics DSX I2C EVB for LGU touchscreen
	  connected to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called synaptics_i2c_rmi4_evb.

config TOUCHSCREEN_SYNAPTICS_I2C_VU3EVB
	tristate "Synaptics DSX I2C touchscreen"
	depends on I2C
	help
	  Say Y here if you have a Synaptics DSX I2C touchscreen
	  connected to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called synaptics_i2c_rmi4.

config TOUCHSCREEN_SYNAPTICS_DSX_RMI4_DEV
	tristate "Synaptics I2C touchscreen rmi device"
	depends on TOUCHSCREEN_SYNAPTICS_I2C_RMI4
	help
	  This enables support for character device channel for Synaptics
	  RMI4 touchscreens.

	  Say Y here if you have a Synaptics DSX I2C touchscreen
	  connected to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called synaptics_dsx_rmi4_dev.

config TOUCHSCREEN_SYNAPTICS_DSX_FW_UPDATE
	tristate "Synaptics I2C touchscreen firmware update"
	depends on TOUCHSCREEN_SYNAPTICS_I2C_RMI4
	help
	  This enables support for firmware update for Synaptics RMI4
	  touchscreens.

	  Say Y here if you have a Synaptics DSX I2C touchscreen
	  connected to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called synaptics_dsx_fw_update.

if TOUCHSCREEN_SYNAPTICS_DISNEY

source "drivers/input/touchscreen/disney/DS5/Kconfig"

endif

