
#
# Broadcast Device Driver Support
#

menu "LGE Japanese Mobile Broadcast(ISDB-T 1seg/ISDB-Tmm 13seg) Device Support"
config LGE_BROADCAST_ONESEG_TCC3530
	bool "1Seg broacast tuner chipset tcc3530  device driver"
	depends on LGE_BROADCAST_ONESEG && MACH_APQ8064_F9J
	default y
	help
	  Select this if you want to use Japanese 1Seg mobile broadcast service

config LGE_BROADCAST_ONESEG_TCC3535
	bool "1Seg broacast tuner chipset tcc3535  device driver"
	depends on LGE_BROADCAST_JFULLSEG
	default y
	help
	  Select this if you want to use Japanese 1Seg mobile broadcast service
	  
config LGE_BROADCAST_ISDBT_JAPAN_FC8300
	bool "Japan FULL-SEG broacast tuner chipset FC8300 device driver"
	depends on (LGE_BROADCAST_ISDBT_JAPAN && MACH_MSM8974_DZNY_DCM) || (LGE_BROADCAST_ISDBT_JAPAN && MACH_MSM8994_G4_KDDI_JP)
	default y
	help
	  Select this if you want to use Japanese FULL-SEG service

endmenu
